#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  height: 45px;
  width: 500px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  border: none;
  color: #707070;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}

li a:hover {
  padding: 9px 19px;
  color: #808080;
}

.cent {
  padding-top: 150px;
}

.bar {
  width: 550px;
}

.searchbar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.searchbar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

.searchbar {
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 8px 1px #dcdcdc;

  border-radius: 60px;
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}

.buttons {
  margin-top: 30px;
}

.button {
  background-color: #f5f5f5;
  border: none;
  color: #707070;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}

.button:hover {
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color: #808080;
}

.button:focus {
  border: 1px solid #4885ed;
  padding: 9px 19px;
}

.dist {
  padding-top: 5px;
}
